<div class='container-fluid'>
  <div class='mb-3'>
    <h2>{{destination.title}}</h2>
  </div>
  <div class='row'>
<!--  <div class='row' style='height: 1600px;'>-->
    <div class='col-5'>
      <tabset>
        <tab class='tab-content overflow-x-auto'
             customClass='tab-body-mt-1'
             heading='Description'>
          <div class='mb-5'>
            {{destination.description}}
          </div>
          <div class='row row-cols-4 g-3'>
            <div *ngFor='let item of cocktails'>
              <div (click)='goToCocktail(item)'
                   class='card'>
                <!--        <img src="{{item.strDrinkThumb}}" class="card-img-top" alt="...">-->
                <img alt='...'
                     class='card-img-top'
                     src='../../../assets/images/minnaso_avocado.webp'>
                <!--                <div class="card-body">-->
                <!--                  <h5 class="card-title text-truncate">{{item.strDrink}}</h5>-->
                <!--                  &lt;!&ndash;                  <button class="btn btn-primary" (click)="goToCocktail(item)">Discover</button>&ndash;&gt;-->
                <!--                </div>-->
              </div>
            </div>
          </div>
        </tab>
        <tab class='tab-content'
             customClass='tab-body-mt-1'
             heading='Food'>
          <table class='table table-hover'>
            <thead>
            <tr>
              <th scope='col'>#</th>
              <th scope='col'>First</th>
              <th scope='col'>Last</th>
              <th scope='col'>Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope='row'>1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope='row'>2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope='row'>3</th>
              <td colspan='2'>Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope='row'>3</th>
              <td colspan='2'>Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope='row'>3</th>
              <td colspan='2'>Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope='row'>3</th>
              <td colspan='2'>Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope='row'>3</th>
              <td colspan='2'>Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope='row'>3</th>
              <td colspan='2'>Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            </tbody>
          </table>
          <!--          <div class="card-group">-->
          <!--            <div class="card">-->
          <!--              <img src="../src/assets/images/minnaso_avocado.webp" class="card-img-top" alt="...">-->
          <!--              <div class="card-body">-->
          <!--                <h5 class="card-title">Card title</h5>-->
          <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
          <!--                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--            <div class="card">-->
          <!--              <img src="../src/assets/images/minnaso_avocado.webp" class="card-img-top" alt="... ">-->
          <!--              <div class="card-body">-->
          <!--                <h5 class="card-title">Card title</h5>-->
          <!--                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
          <!--                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--            <div class="card">-->
          <!--              <img src="../src/assets/images/minnaso_avocado.webp" class="card-img-top" alt="...">-->
          <!--              <div class="card-body">-->
          <!--                <h5 class="card-title">Card title</h5>-->
          <!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>-->
          <!--                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
        </tab>
        <tab class='tab-content'
             customClass='tab-body-mt-1'
             heading='Entertainment'>
          <table class='table table-hover'>
            <thead>
            <tr>
              <th scope='col'>#</th>
              <th scope='col'>First</th>
              <th scope='col'>Last</th>
              <th scope='col'>Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope='row'>1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope='row'>2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope='row'>3</th>
              <td colspan='2'>Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope='row'>3</th>
              <td colspan='2'>Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope='row'>3</th>
              <td colspan='2'>Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            </tbody>
          </table>
        </tab>
        <tab class='tab-content'
             customClass='tab-body-mt-1'
             heading='Bars'>
          <table class='table table-hover'>
            <thead>
            <tr>
              <th scope='col'>#</th>
              <th scope='col'>First</th>
              <th scope='col'>Last</th>
              <th scope='col'>Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope='row'>1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope='row'>2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope='row'>3</th>
              <td colspan='2'>Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope='row'>3</th>
              <td colspan='2'>Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope='row'>3</th>
              <td colspan='2'>Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope='row'>3</th>
              <td colspan='2'>Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            </tbody>
          </table>
        </tab>
        <tab class='tab-content overflow-x-auto'
             customClass='tab-body-mt-1'
             heading='Messages'>
          <app-messages></app-messages>
        </tab>
      </tabset>
    </div>
    <div class='col-7'>
      <app-map [destination]='destination'></app-map>
    </div>
  </div>
</div>




