tabset {
  .nav-link {
    border-bottom: 1px solid white;

  }

  .tab-content {
    border: 1px solid #dee2e6;
    height: 610px;
    margin: -1px 0 0 0;
    padding: 20px 20px;
  }
}

.tab-body-mt-1 {
  margin-top: 1rem;
}
