<form #destinationSearchForm='ngForm' id='destinationSearchForm' class='mb-1'>
  <div class='input-group'>
    <input (keydown)='searchPlace($event)' [(ngModel)]='searchText' aria-describedby='button-addon2'
           aria-label='Search Map' class='form-control shadow-none'
           id='searchText'
           name='searchText' placeholder='Search Map' type='text'>
    <button (click)='searchPlace($event)' class='btn btn-outline-primary' type='button'><i
      class='fa-solid fa-magnifying-glass'></i></button>
    <!--    <button class="btn btn-outline-primary" type="button" (click)="searchPlace($event)">Search</button>-->
  </div>
</form>

<!--The div element for the map -->
<div id='map'></div>
