<ul class='list-group list-group-flush'>
  <li class='card mb-3'>
    <h6 class='message-time mb-2'>
      <small class='text-muted'>3 days ago</small>
    </h6>
    <div class='card-body'>
      <p class='card-text bg-secondary text-wrap message receiver-bg'>
        Hello! I'm looking forward to visiting this place!
      </p>
    </div>
  </li>
  <li class='card mb-3'>
    <h6 class='message-time mb-2'>
      <small class='text-muted'>3 days ago</small>
    </h6>
    <div class='card-body'>
      <p class='card-text bg-secondary text-wrap message receiver-bg'>
        Can you get in touch when you get a chance?
      </p>
    </div>
  </li>
  <li class='card mb-3'>
    <h6 class='message-time mb-2'>
      <small class='text-muted'>3 days ago</small>
    </h6>
    <div class='card-body'>
      <p class='card-text bg-secondary text-wrap message receiver-bg'>
        I'd like to pick you brain to make the best of my trip!
      </p>
    </div>
  </li>
  <li class='card mb-3'>
    <h6 class='message-time mb-2'>
      <small class='text-muted'>3 days ago</small>
    </h6>
    <div class='card-body d-flex justify-content-end'>
      <p class='card-text text-wrap message sender-bg'>
        Hey Emily! I'm super excited for your upcoming trip!
      </p>
    </div>
  </li>
  <li class='card mb-3'>
    <h6 class='message-time mb-2'>
      <small class='text-muted'>3 days ago</small>
    </h6>
    <div class='card-body d-flex justify-content-end'>
      <p class='card-text text-wrap message sender-bg'>
        First place you have to hit after getting into town is ...
      </p>
    </div>
  </li>
  <li class='card mb-3'>
    <h6 class='message-time mb-2'>
      <small class='text-muted'>2 hours ago</small>
    </h6>
    <div class='card-body'>
      <p class='card-text bg-secondary text-wrap message receiver-bg'>
        OOoooh! That looks like a good spot. I've received
        many recommendations for this location too.
      </p>
    </div>
  </li>
  <li class='card mb-3'>
    <h6 class='message-time mb-2'>
      <small class='text-muted'>1 hour ago</small>
    </h6>
    <div class='d-flex justify-content-end'>
      <div class='card-body d-flex justify-content-end'>
        <p class='card-text text-wrap message sender-bg'>
          That's awesome. I really enjoyed this location when my wife and I visited. Joe the
          owner happened to be dining next to us and we were able to strike up a
          conversation. He was very welcoming and informative of the area. He's been a native
          of the region for over 25 years! He was giving us tips on where to eat and where to
          find fresh uni!
        </p>
      </div>
    </div>
  </li>
  <li class='card mb-3'>
    <h6 class='message-time mb-2'>
      <small class='text-muted'>1 hour ago</small>
    </h6>
    <div class='d-flex justify-content-end'>
      <div class='card-body d-flex justify-content-end'>
        <p class='card-text text-wrap message sender-bg'>
         Cool!
        </p>
      </div>
    </div>
  </li>

</ul>
